* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #e6e6e6;
}

.calculator-container {
	width: 300px;
	height: 400px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	display: flex;
	align-items: center;
	justify-content: center;
}

.calculator {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: repeat(6, 1fr);
	grid-gap: 10px;
	padding: 10px;
}

.calculator-display {
	background-color: #eee;
	border-radius: 5px;
	padding: 10px;
	font-size: 2em;
	grid-row: 1 / 2;
	grid-column: 1 / -1;
	text-align: right;
	height: 57px;
	font-family: monospace;
	align-content: center;
}

.button-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 5px;
}

.calculator-buttons-row {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
	grid-row: auto;
	grid-column: 1 / -1;
}

.calculator-button {
	background-color: #fff;
	border: none;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	font-size: 24px;
	color: #444;
	height: 58px;
	width: auto;

}

.button-number:hover,
.button-decimal:hover {

	background-color: #e6e5e5;
}

.button-number:active,
.button-decimal:active {
	background-color: #c7c7c7;
}

.button-clear,
.button-equals {
	background-color: #ee3528;
	color: #fff;
}

.button-clear:hover,
.button-equals:hover {
	background-color: #e05f56;
}

.button-clear:active,
.button-equals:active {
	background-color: #c7362c;
}

.button-operator {
	background-color: #4caf50;
	color: #fff;
}

.button-operator:hover {
	background-color: #4caf4fb2;
}

.button-operator:active {
	background-color: #198d1de1;
}

.plus {
	grid-row: 2/4;
	grid-column: 4;
	height: 100%
}

.button-equals {
	grid-row: 4/6;
	grid-column: 4;
	height: 100%;
}

.zero {
	grid-column: 1/3;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #e6e6e6;
	padding: 10px;
	font-size: 14px;
	font-weight: bold;
	font-family: monospace;
	position: fixed;
 	left: 42.5%;
  	bottom: 0;
  }
  
  footer img {
	width: 20px;
	margin-left: 5px;
  }
  
  h1 {
	font-family: 'Courier New', Courier, monospace;
	font-size: 36px;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 20px;
	text-shadow: 2px 2px #c2c2c2;
	position: fixed;
	bottom: 90%;
	left: 39%%;
  }
  